.profile {
}

.profile__link {
  margin: 0 43px 0 0;
  color: white;
  text-decoration: none;
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.profile__link:after {
  position: absolute;
  right: -44px;
  bottom: -7px;
  content: '';
  border-radius: 4px;
  background: no-repeat url('../../images/account-icon.svg') center #313131;
  height: 30px;
  width: 26px;
}

@media screen and (max-width: 769px) {
}
