.App {
  background-color: #202020;
  font-family: Inter, serif;
  color: white;
  font-style: normal;
}

.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  opacity: 0.7;
  transition: ease 0.2s;
}
