.saved-movies {
  padding: 80px 70px;
}

@media screen and (max-width: 769px) {
  .saved-movies {
    padding: 80px 30px 30px;
  }
}

@media screen and (max-width: 769px) {
  .saved-movies {
    padding: 80px 14px 30px;
  }
}
